<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".journey.TmpActivity"
            android:exported="false"
            android:theme="@style/Theme.AStep" />
        <activity
            android:name=".journey.JourneyActivity"
            android:exported="false" />
    </application>

</manifest>